@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-karla: var(--font-geist-karla);
  --font-satoshi: var(--font-satoshi);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-light-100: #daafae;
  --color-dark-100: #212121;
  --color-brown-50: #856b6a;
  --color-brown-100: #302726;
  --color-gray-25: rgba(108, 102, 133, 0.25);
  --shadow-10: 0px 6px 24px 0px rgba(0, 0, 0, 0.1);
  --shadow-15: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  --shadow-20: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  --shadow-inset-20: 0px 10px 40px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 1px #d7d5dd inset;
  --radius-20: 20px;
  --radius-18: 18px;
  --background-image-radial-100: radial-gradient(
    73.36% 59.94% at 101.94% -1.83%,
    #cb9c9c 0%,
    #ffffff 42%,
    rgba(203, 156, 156, 0) 42%
    ),
    radial-gradient(
      60.29% 53.62% at 0% 100%,
      #d8a7a7 0%,
      #ffffff 42%,
      rgba(203, 156, 156, 0) 42%
    );
}

@layer base {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-geist-karla);
  }

  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
  button {
    @apply cursor-pointer;
  }
  h1 {
    @apply -tracking-[2px];
  }
}

@layer components {
  .overlay {
    @apply bg-radial-100 w-full h-full absolute top-0 -z-10;
  }

  /* sign in page */
  .sign-in {
    @apply w-full min-h-screen flex flex-col-reverse lg:flex-row justify-between overflow-hidden max-lg:gap-10;

    .testimonial {
      @apply bg-light-100 lg:w-1/2 flex flex-col justify-between lg:h-screen w-full py-10 px-6 lg:pl-10 gap-6;

      a {
        @apply flex items-center gap-2.5;
      }

      h1 {
        @apply text-xl font-black text-brown-100 font-satoshi -tracking-[0.5px];
      }

      .description {
        @apply flex items-center justify-center;

        section {
          @apply flex flex-col items-center justify-center gap-8 px-6 sm:px-8 w-full max-w-2xl;

          figure {
            @apply flex items-center gap-1 justify-center;
          }

          p {
            @apply text-[25px] sm:text-3xl font-semibold text-white text-center -tracking-[2px];
          }

          article {
            @apply flex flex-col gap-2.5 items-center;

            div {
              @apply flex flex-col items-center gap-1;

              h2 {
                @apply text-base font-bold text-white;
              }

              p {
                @apply text-gray-100 font-normal text-sm -tracking-[0.5px];
              }
            }
          }
        }
      }

      p {
        @apply text-sm font-medium text-gray-100;
      }
    }
  }
}

.google-sign-in {
  @apply flex items-center justify-center lg:w-1/2 w-full lg:h-screen px-7 py-10;

  section {
    @apply rounded-20 bg-white shadow-10 max-w-xl w-full flex flex-col px-5 py-7.5 gap-8;

    a {
      @apply flex items-center gap-2.5 justify-center;

      h1 {
        @apply text-3xl font-black text-brown-100 font-satoshi;
      }
    }

    p {
      @apply text-3xl font-bold text-brown-100 text-center -tracking-[2px];

      span {
        @apply text-light-100;
      }
    }

    button {
      @apply w-full flex justify-center items-center gap-2.5 bg-white border border-gray-25 rounded-4xl py-4 text-base text-dark-100 font-semibold cursor-pointer -tracking-[0.8px];
    }
  }
}

